:root {
	font: 12px / 1 Roboto;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	background-color: gray;
}

header {
	display: flex;
	flex-wrap: wrap;
	background-image: url(/images/space.png);
	background-size: 100%;
	justify-content: center;
	position: relative;
	align-items: flex-start;
}

header p {
	margin: 0.5rem 0rem;
	padding: 0rem 0.5rem;
	font-size: 1rem;
}
h1 {
	margin: 0.5rem 0.5rem;
	width: 100%;
	font-size: 1.45rem;
	padding: 0;
}
.triangle {
	opacity: 0.75;
	height: 4%;
	width: 4%;
	position: absolute;
	top: 25.5%;
	left: 40%;
}

.textbubble {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	margin: 5rem 1rem;
	width: 56%;
	height: 10%;
}
.my-face {
	width: 30%;
	height: 30%;
	margin: 6rem 0rem;
	border-radius: 3px;
}

.slice-container {
	display: flex;
	justify-content: space-evenly;
}

.slices {
	margin: 0.5rem;
}

.react {
	background-image: url(/images/react.png);
}
