:root {
	font-size: 10px / 1 'Roboto';
}
* {
	font-family: 'Roboto', sans-serif;
}
html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	background-color: rgb(3, 16, 25);
}

header {
	display: flex;
	flex-wrap: wrap;
	background-image: url(/images/space.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	justify-content: center;
	position: relative;
	align-items: flex-start;
}

header p {
	margin: 0.5rem 0rem;
	padding: 0rem 0.5rem;
	font-size: 0.85rem;
}
h1 {
	margin: 0.5rem 0.5rem;
	width: 100%;
	font-size: 1rem;
	padding: 0;
}
.textbubble {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	margin: 3rem 0.5rem;
	width: 0.56;
	height: 0.1;
}
.triangle {
	opacity: 0.75;
	height: 15px;
	width: 15px;
	position: absolute;
	top: 107px;
	margin-left: -1.5rem;
	/* left: 42%; */
}

.my-face {
	width: 145px;
	height: 150px;
	margin: 6rem 0rem 3rem 0rem;
	border-radius: 3px;
}

.slice-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: 100%;
	padding: 0.25rem;
	margin: 0.5rem;
	width: 100%;
}

.slices {
	margin: 0.5rem 0.25rem;
}

article {
	display: flex;
	/* align-items: flex-end; */
	flex-wrap: wrap;
}

#react {
	background-image: url(/images/react.png);
	display: flex;
	justify-content: flex-end;
	background-position-y: 78%;
	background-position-x: 65%;
	margin: 1rem;
	background-size: cover;
}
#fizz {
	background-image: url(/images/code.png);
	display: flex;
	justify-content: flex-end;
	/* align-content: flex-end; */
	background-position-y: 53%;
	background-position-x: 45%;
	margin: 1.5rem 1rem;
}
.react p {
	margin: 1rem;
}

.posts {
	background-color: rgba(255, 255, 255, 0.85);
	width: 100%;
	height: 4rem;
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	margin-bottom: 0rem;
}

.mobile-text-view {
	margin: 1rem;
	display: none;
}

h2 {
	margin: 0;
}

.posttitle {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.posttitle p {
	margin: 0.5rem;
}

.readmore {
	background-color: rgb(20, 131, 210);
	margin: -0.5rem 1rem -1rem 4rem;
	border: none;
	color: white;
	border-radius: 3px;
}

footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.smaller {
	font-size: 0.65rem;
}

footer p {
	color: white;
	margin: 0rem 2rem;
	text-align: center;
	font-size: 1rem;
}

.icons {
	display: flex;
	justify-content: center;
}

.twiticon {
	width: 2rem;
	margin: 0.5rem;
}

.home-button {
	background-color: rgba(255, 255, 255, 0.75);
	width: 75px;
	border-radius: 50%;
	margin: 1rem 1rem 0rem 1rem;
}

.clickthrough-page {
	display: flex;
	justify-content: flex-start;
	flex-wrap: column;
	justify-content: center;
	flex-direction: column;
}

.unslice {
	margin: 4rem 1rem 1rem 1rem;
	width: 55%;
}

.image-clickthrough {
	background-color: rgba(255, 255, 255, 0.85);
	width: 85%;
	margin: 1rem;
	padding: 0rem 1rem;
	border-radius: 3px;
	display: flex;
}

.flexy {
	display: flex;
	justify-content: center;
	padding: 5% 15%;
}
h3 {
	font-size: 2rem;
	padding: none;
	margin: 1rem;
	text-align: center;
}

#bomb {
	margin: 4rem 2rem 1rem 0rem;
}

#one-list {
	width: 300px;
	margin: 4rem 2rem 1rem 0rem;
}

#rain {
	width: 400px;
	margin: 4rem 2rem 1rem 2rem;
}

.sensei {
	width: 300px;
	height: 300px;
	margin: 4rem 2rem 1rem 2rem;
}

@media (min-width: 700px) {
	/* more css for larger screens */

	.textbubble {
		margin-left: 1.5rem;
		width: 37%;
		margin-top: 4rem;
	}

	.triangle {
		margin-left: 0.5rem;
		top: 134px;
		left: 44%;
	}
	h1 {
		font-size: 1.5rem;
	}

	header p {
		font-size: 0.95rem;
	}
	.my-face {
		width: 20%;
		height: 20%;
	}

	.slice-containter {
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
		padding: 0rem;
	}

	.slices {
		width: 90%;
		margin: 0.5rem 1.5rem;
	}

	.posts {
		height: 10rem;
		background-color: rgba(255, 255, 255, 1);
	}

	.mobile-text-view {
		display: initial;
	}

	#react {
		background-position-y: 85%;
	}
}

@media (min-width: 1000px) {
	.triangle {
		margin-left: 1.56rem;
	}
	.mobile-text-view {
		display: initial;
	}

	.posts {
		height: 10rem;
		background-color: rgba(255, 255, 255, 1);
	}

	#react {
		background-position-y: 73%;
	}
}

@media (min-width: 1080px) {
	.triangle {
		margin-left: 1.75rem;
	}

	.slice {
		margin: 3rem;
	}

	.posts {
		margin-top: 7rem;
	}

	#react {
		background-position-y: 65%;
	}
	#fizz {
		background-size: cover;
	}
}
