:root {
	font-size: 10px / 1 'Roboto';
}
* {
	font-family: 'Roboto', sans-serif;
}
html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	background-color: rgb(3, 16, 25);
}

header {
	display: flex;
	flex-wrap: wrap;
	background-image: url(/images/space.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	justify-content: center;
	position: relative;
	align-items: flex-start;
}

header p {
	margin: 0.5rem 0rem;
	padding: 0rem 0.5rem;
	font-size: 0.85rem;
}
h1 {
	margin: 0.5rem 0.5rem;
	width: 100%;
	font-size: 1rem;
	padding: 0;
}
.textbubble {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	margin: 5rem 0.5rem;
	width: 0.56;
	height: 0.1;
}
.triangle {
	opacity: 0.75;
	height: 15px;
	width: 15px;
	position: absolute;
	top: 139px;
	left: 40%;
}

.my-face {
	width: 30%;
	height: 30%;
	margin: 6rem 0rem;
	border-radius: 3px;
}

.slice-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: 100%;
	padding: 1rem;
	margin: 0.5rem;
	width: 60%;
}

.slices {
	margin: 1rem 0.5rem;
}

article {
	display: flex;
	/* align-items: flex-end; */
	flex-wrap: wrap;
}

#react {
	background-image: url(/images/react.png);
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	background-position-y: 73%;
	background-position-x: 45%;
	margin: 1rem;
}
#fizz {
	background-image: url(/images/code.png);
	display: flex;
	justify-content: flex-end;
}
.react p {
	margin: 1rem;
}

.posts {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 10rem;
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	margin-bottom: -0.5rem;
}

h2 {
	margin: 0;
}

.posttitle {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.posttitle p {
	margin: 0.5rem;
}

.readmore {
	background-color: rgb(20, 131, 210);
	margin: -0.5rem 1rem -1rem 4rem;
	border: none;
}
